.logo-wrapper {
    max-width: 40px;
  }
  .custom-nav-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #2c2c2c;
    font-size: 26px;
    font-weight: 500;
    margin-top: 10px;
  }
  